{% extends "layout.html" %}
{% block content %}
{% include "admin/dash-nav.html" %}
	<div id="dashboard-content">
		<div id="dashboard-surveys">
			<h3>Survey Dashboard</h3>
			<form id="add_survey" method="post">
				<div class="form-group">
					<label>Course</label>
					<select id="survey-course" name="survey-course" class="form-control">
						{% if course_list %}
						{% for course in course_list %}
							<option value="{{ course }}">{{ course }}</option>
						{% endfor %}
						{% endif %}
					</select>
				</div>
				<div class="form-group">
					<input id="survey-submit" name="survey-submit" class="btn-color btn-small" type="submit" value="Add Survey"/>
				</div>
			</form>
			<h3>Survey Pool</h3>
			{% if surveys %}
			<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th class="col-md-1">ID</th>
							<th class="col-md-2">Course</th>
							<th class="col-md-5">URL</th>
							<th class="col-md-2">State</th>
							<th class="col-md-2">Options</th>
						</tr>
					</thead>
					<tbody>
					{% for survey in surveys %}
					<tr>
						<td>
							<div class="table-id">{{ survey[0] }}</div>
							<input type="checkbox" class="checkbox-del" id="{{ survey[0] }}" hidden/>
						</td>
						<td>
							{{ survey[1] }}
						</td>
						<td>
							<input type="text" class="form-control" value="localhost:5000/1210-JSP/survey-id={{ survey[0] }}"/>
						</td>
						<td>
							{{ survey[3] }}
						</td>
						<td>
							<div id="table-options-section">
								<a href="/admin/survey/{{ survey[0] }}">Modify</a>
								<a href="#" onclick="survey_delete()">Delete</a>
							</div>
						</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
			{% endif %}
		</div>
	</div>

	<script>
		$("#add_survey").submit(function(event){
			// Prevent default action
			event.preventDefault();

			data = {
				"survey-course":$("#survey-course").val()
			};

			$.ajax({
				method: "POST",
				url: "/admin/survey/add-survey",
				data:JSON.stringify(data, null, '\t'),
				contentType: 'application/json;charset=UTF-8',
				success: function(result) {
					location.reload();
				}
			});
		});
	</script>
{% endblock %}
