<!doctype html>
<html>
    <head>
    <title>Admin page </title>
    </head>
    <style>
    	.content {
			margin: auto;
			text-align: center;
			width: 70%;
			border: 3px solid green;
			background: lightblue;
		}
		.q_block {
			width: 50%;
			float: left;
			padding-bottom: 50px;
		}
		.btn_block {
			padding-top: 1px;
		}
		.clear_both {
			clear: both;
		}
    </style>
    <body>
		<div class="content">
		<h1> Admin page </h1>
		<Form method="POST">
			<p>Select the survey you want to modify:</p>
			{{ render_test|safe }}
	    </Form>
		</div>
   	</body>
</html>
