<!--agree_disagree-->

<!doctype html>
<html>

	<head>
		<title> Agree/Disagree </title>
	</head>
	
	<body>
	
      <h1> Question: </h1>
      
		<form action="URL for action" method="POST">
			Answer Options:
			</br>
			Strongly agree: <input type="radio" name="option" value="strongly agree"/>
			</br>
			Agree: <input type="radio" name="option" value="agree"/>
			</br>
			Neutral: <input type="radio" name="option" value="neutral"/>
			</br>
			Disagree: <input type="radio" name="option" value="disagree"/>
			</br>
			Strongly disagree: <input type="radio" name="option" value="strongly disgree"/>
			</br>
		</form>
      
    </body>
</html>
