{% extends "layout.html" %}
{% block content %}
	<div id="index-wrapper">
		<div id="index-title">
			<h1><strong>University Survey Site</strong> <small>Login</small></h1>
		</div>
		<div id="index-title-content">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<div class="flashes-wrapper">
						<ul class="alert alert-info">
							{% for message in messages %}
							<li><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{ message }}</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
			{% endwith %}
			<form method="POST" class="login-form">
				<div class="form-group">
					{{ form.username.label }}:
					{{ form.username(class="form-control") }}
				</div>
				<div class="form-group">
					{{ form.password.label }}:
					{{ form.password(class="form-control") }}
				</div>
            	<div class="form-group">
			        <label>Course</label>
					<select id="survey-course" name="survey-course" class="form-control">
						{% if course_list %}
						{% for course in course_list %}
							<option id="course" value="{{ course }}">{{ course }}</option>
						{% endfor %}
						{% endif %}
					</select>
                </div>
				<div class="form-group">
					<input class="btn-color" type="Submit" value="SUBMIT"/>
				</div>
			</form>
		</div>
		<div id="index-footer-wrapper">
			Copyright LOLOLOL
		</div>
	</div>
{% endblock %}
