<!--template-->

<!doctype html>
<html>

	<head>
		<title> Create answer choices </title>
	</head>
	
	<body>
	
      <h1> Answer: </h1>
      
       <Form method="POST">
         <input name="answers" placeholder="Enter answers"/>
         <button type="submit" name="bt">Add answer option</button>
      	
		<!--<form action="URL for action" method="POST">
			<input type="text" name="question" value="" size=30>
			</br>
			<a href="answers.html"><button value = "1"> Add question </option>
			<!--<button onclick="myJsFunction()">
			<!--<a href="yes_no.html"><button value = "1"> Yes/No </option>
			<a href="agree_disagree.html"><button value = "2"> Agree/Disagree </option>
			<a href="other.html"><button value = "3"> Other </option>
			<script type="text/javascript"> 
				//function myJsFunction(){ 
    				//var text=document.getElementById('input1').value;
 				// } 
			</script>
			-->
		</form>
      
    </body>
</html>
