<!--template-->

<!doctype html>
<html>

	<head>
		<title> Create a question </title>
	</head>
	
	<body>
	
      <h1> Question: </h1>
      
		<form action="URL for action" method="POST">
			<input type="text" name="question" value="Type in a question" size=30>
			</br>
			Answer Options
			</br>
			<a href="yes_no.html"><button value = "1"> Yes/No </option>
			<a href="agree_disagree.html"><button value = "2"> Agree/Disagree </option>
			<a href="other.html"><button value = "3"> Other </option>
		</form>
      
    </body>
</html>
