{% extends "layout.html" %}
{% block content %}
{% include "dashboard/dash-nav.html" %}
<div id="dashboard-content">
    <h3>Add Question</h3>
    <div id="dashboard-questions-controlpanel">
        <div class="error_wrapper">
            {% for message in form.question.errors %}
                <div id="error_message">{{ message }}</div>
            {% endfor %}
        </div>
        {% if form %}
            <form  method="POST" class="question-form">
                <div class="form-group">
                    <label>Question</label>
                    {{ form.question(class="form-control") }}
                </div>
                <div class="form-group">
                        <label>Question Type</label>
                    {{ form.questiontype(class="form-control") }}
                </div>
                <div class="form-group">
                    <input class="btn-color btn-small" type="Submit" value="Submit"/>
                </div>
            </form>
        {% endif %}
    </div>
    <div id="dashboard-questions">
        <h3>Question Pool</h3>
        {% if questions %}
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Qustion Type</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
            {% for question in questions %}
            <tr>
                <td>
                    {{ question[0] }}
                </td>
                <td>
                    {{ question[1] }}
                </td>
                <td>
                    <div id="table-options-section">
                        <a href="#">Modify</a>
                        <a href="/staff/questions/delete/{{ loop.index0 }}">Delete</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}